@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Edu+TAS+Beginner:wght@600&display=swap');

/* font-family: 'Comfortaa', sans-serif;
  font-family: 'Edu TAS Beginner', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*   font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal; */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;

    overflow: hidden;
}
.pageone {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-size: 3vw;
    background: cyan;
    position: relative;
    overflow: hidden;
}

.pageone .left {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pageone .left .button {
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.rainbow-hover {
    font-size: 16px;
    font-weight: 700;
    color: #ff7576;
    background-color: #2B3044;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 12px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px #2B3044;
   ;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px)
      rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: all 0.1s;
    

  }
  .rainbow-hover:hover{
    scale: .9;
  }
  .sp {
    background: linear-gradient(
        90deg,
        #866ee7,
        #ea60da,
        #ed8f57,
        #fbd41d,
        #2cca91
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
    text-transform: capitalize;
  }
  
  .rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
  }
.pageone .left h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-style: italic;
    color: rgb(40, 37, 37);
}



.pageone .right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.pageone .right img {
    width: auto;
    height: 60%;
}

.custom-shape-divider-bottom-1724080202 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1724080202 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1724080202 .shape-fill {
    fill: #FFFFFF;
}

.pagetwo {
    width: 100%;
    padding-top: 4%;
    overflow: hidden;
}

.pagetwo>h2 {
    width: 100%;
    font-size: 3vw;
    text-align: center;
    text-transform: capitalize;
}

.pagetwo .info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagetwo .info p {
    width: 60%;
    font-size: 2vw;
    font-family: serif;
    font-weight: 500;
    padding: 10px;
}

.pagetwo .info img {
    width: 30%;
    height: 60vh;
}

.allprojcet {
    width: 100%;
}

.allprojcet>h2 {
    width: 100%;
    font-size: 3vw;
    text-align: center;
    text-transform: capitalize;
    margin-top: 4vh;
}
.allprojcet>h3 {
    margin-top: 3%;
    font-size: 2vw;
    text-align: start;
    text-transform: capitalize;
    padding-left: 4%;
 color: rgb(59, 55, 55);
}
.project {
    width: 100%;
    display: flex;
    padding: 1% 4%;
    overflow: hidden;
    
}

.project>.project-info{
  width: 50%;
  padding: 1% 3%;
}
.project>.project-video {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5%;

}

.project>.project-video  video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    background: #000;
}
 .cloudnote-info>h3{
    font-size: 1.5vw;
    text-transform: capitalize;
    color: rgb(70, 68, 68);
}
 .cloudnote-info>p{
   font-size: 1.2vw;
}
.cloudnote-info > ul{
    width: 50%;
    margin-left: 10%;
    
}
.allprojcet .project-images{
    width: 100%;
    /* height: 50vh; */
    padding: 1% 4%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2vh;
    /* overflow: hidden; */
}
.allprojcet .project-images .box{
    width: 48%;
    height: 14vh;
    position: relative;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius:20px;
   
    
}

.allprojcet .project-images .box h3{
    font-size: 2vw;
    font-weight: 400;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 0 2%;
    font-style: oblique;

}
.allprojcet .project-images .box2{
    width: 100%;
    height: 14vh;
    position: relative;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius:20px;

}
.allprojcet .project-images .box2 video{
    position: absolute;
    width: 500px;
    right: 10%;
    height: auto;
    display: none;
    border-radius: 10px;
    z-index: 9;
    border: 3px solid #000;
}
.allprojcet .project-images .box img{
    position: absolute;
    width: 300px;
    right: 0;
    height: auto;
    display: none;
    border-radius: 10px;
    z-index: 9;
}
.allprojcet .project-images .box:hover img{
    display: block;
}
.allprojcet .project-images .box2:hover video{
    display: block;
}
footer{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: oblique;
}
footer h1{
    text-align: center;
}


/* Responsive Styles */
@media (max-width: 1024px) {
    .pageone .left {
        width: 50%;
    }
    .pageone .right {
        width: 50%;
    }
    .pagetwo .info p {
        font-size: 3vw;
    }
    .pagetwo .info img {
        width: 40%;
    }
    .project{
        gap: 10px;
    }
    .project>.project-video{
        height: 25%;
        background: #000;
        padding: 0;
        margin: 0;
    }
   
    .project>.project-info{
        height: 50%;
        padding: 0;
        margin: 0;
    }
    .allprojcet>h2 {
        font-size: 4vw;
    }
    .allprojcet>h3 {
        font-size: 3vw;
    }
    .cloudnote-info h3{
        font-size: 3vw;
    }
    .cloudnote-info>p{
        font-size: 1.5vw;
    }
    .cloudnote-info>ul li{
        font-size: 2vw;
    }
    .allprojcet .project-images .box img{
        width: 250px;
        height: auto;
    }
    .allprojcet .project-images .box2 video{
        width: 250px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .pageone {
        flex-direction: column-reverse;

        font-size: 4vw;
    }
    .pageone .left{
        width: 100%;
        height: 40%;
    }
     .pageone .right {
        width: 100%;
        height: 60%;
    }
    .pageone .right img {
        width: 70%;
        height: 70%;
    }
    .pagetwo .info {
        flex-direction: column;
    }
    .pagetwo .info p {
        width: 80%;
        font-size: 4vw;
    }
    .pagetwo .info img {
        width: 50%;
        height: 40vh;
    }
    .allprojcet{
        margin-top: 20px;
    }
    
    .project{
        flex-direction: column-reverse;
        /* background: #000; */
        gap: 10px;
        padding-top: 20px;
    }
    .project>.project-video{
        width: 100%;
        height: 40%;
        background: #000;
        padding: 0;
        margin: 0;
    }
   
    .project>.project-info{
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }
    .allprojcet>h2 {
        font-size: 6vw;
    }
    .allprojcet>h3 {
        font-size: 5vw;
    }
    .cloudnote-info h3{
        font-size: 4vw;
    }
    .cloudnote-info>p{
        font-size: 3vw;
    }
    .cloudnote-info>ul li{
        font-size: 4vw;
    }
    .allprojcet .project-images .box{
        width: 100%;
    }
    .allprojcet .project-images .box img{
        width: 250px;
        height: auto;
    }
    .allprojcet .project-images .box2 video{
        width: 250px;
        height: auto;
    }
    
   
 
}

@media (max-width: 480px) {
    /* .pageone {
        font-size: 4vw;
    } */
   
    .pageone .left h2 {
        font-size: 7vw;
    }
   
    .pageone .right img {
        width: 80%;
        height: auto;
    }
    .pagetwo>h2 {
        font-size: 6vw;
    }
    .pagetwo .info p {
        width: 90%;
        font-size: 5vw;
    }
    .pagetwo .info img {
        width: 70%;
        height: 30vh;
    }
    .allprojcet>h2 {
        font-size: 6vw;
    }
    .allprojcet>h3 {
        font-size: 5vw;
    }

    .project{
        flex-direction: column-reverse;
        gap: 10px;
        padding-top: 10px;
    }
    .project>.project-video{
        width: 100%;
        height: 20vh;
        background: #000;
        padding: 0;
        margin: 0;
    }
   
    .project>.project-info{
        width: 100%;
    }
   
    .cloudnote-info h3{
        font-size: 7vw;
    }
    .cloudnote-info>p{
        font-size: 3.5vw;
    }
    .cloudnote-info>ul li{
        font-size: 5vw;
    }
    .allprojcet .project-images .box{
        width: 100%;
    }
    .allprojcet .project-images .box h3{
        font-size: 5vw;
    }
    .allprojcet .project-images .box img{
        width: 220px;
        height: auto;
    }
    .allprojcet .project-images .box2 video{
        width: 220px;
        height: auto;
    }

}

